 <div class="container mb-4">
    <h1>Cocktails list</h1>
    <div class="cards mb-4">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail.id) do %>
          <div class="card">
            <h3><%= cocktail.name %></h3>
          </div>
        <% end %>
      <% end %>
    </div>
</div>