<div class="container">
  <h1>Cocktails list</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail.id) do %>
        <div class="card">
          <h3><%= cocktail.name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>